

article {
  // background-color: var(--base-black);
  border-bottom: 0.75px solid var(--base-white);
  transition-delay: 0.75s;
  transition-property: filter;
  transition-duration: 0.5s;
}

article.active {
  transition-delay: 0.75s;
  transition-property: filter;
  transition-duration: 0.5s;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.grid {
  padding-left: var(--padding);
  padding-right: var(--padding);
  // margin-bottom: var(--tripple-space);
  // margin-bottom: var(--pent-space);
  margin-bottom: var(--quad-space);
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr 1fr;
  padding-top: 35vh;
  margin-top: var(--padding);
  // border-bottom: 0.75px solid var(--base-black);
}

li.column {
  margin-bottom: var(--quad-space);
  // margin-bottom: var(--pent-space);
}

li.column.show {
  opacity: 1;
  pointer-events: all;
}

li.column.hide {
  opacity: 0.25;
  pointer-events: none;
}

.video,
.img {
  position: relative;
  display: block;
  // height: 50vh;
  overflow: hidden;
}

.image_video_wrapper {
  display: block;
  // height: 50vh;
  overflow: hidden;
}

.image_video_wrapper img {
  object-fit: cover;
}

// .image_video_wrapper  {
//   object-fit: cover;
// }

.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.img[data-contain] img {
  object-fit: contain;
}

.image_video_wrapper video {
  display:block;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.img-caption,
.video-caption {
  padding-top: var(--single-space);
}


@media screen and (max-width: 1000px) {
  li.column {
    margin-bottom: var(--quad-space);
    padding-top: var(--padding);
  }
}


@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    margin-top: 30vh;
    padding-top: 0px;
    margin-bottom: 0px;
    // margin-top: var(--padding);
    padding-bottom: var(--mobile-pent-space);
  }

  // .video,
  // .img {
  //   height: 32.5vh;
  // }

  video.video {
    object-fit: cover;
    width: 100%;
  }

  li.column {
    margin-bottom: var(--mobile-double-space);
  }

  img.project_image_alt {
    pointer-events: none;
  }
}