
div.recent-work {
  // padding-top: var(--single-space);
  padding-left: var(--padding);
  padding-right: var(--padding);
}

ul.grid-recent-work {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr 1fr;
  padding-top: var(--tripple-space);
  margin-bottom: var(--tripple-space);
  margin-bottom: var(--quad-space);
}

div.recent-work-end-line {
  width: 102%;
  position: absolute;
  left: -0.75rem;
}

span.recentwork-header {
  padding-top: var(--single-space);
}


@media screen and (max-width: 768px) {

  div.recent-work {
    // padding-top: var(--mobile-double-space);
    padding-left: var(--padding);
    padding-right: var(--padding);
  }


  ul.grid-recent-work {
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: 1fr;
    padding-top: var(--mobile-quad-space);
    padding-bottom: var(--mobile-pent-space);
    margin-bottom: 0px;
  }
}